<div id="nav-container">
<ul id="nav">
{% if page.nav-state == 'index' %}
	<li class="current-page">Description</li>
{% else %}
	<li><a href="{{ page.prefix }}index.html">Description</a></li>
{% endif %}
{% if page.nav-state == 'schedule' %}
	<li class="current-page">Schedule &amp; Notes</li>
{% else %}
	<li><a href="{{ page.prefix }}schedule.html">Schedule &amp; Notes</a></li>
{% endif %}
{% if page.nav-state == 'software' %}
	<li class="current-page">Software</li>
{% else %}
	<li><a href="{{ page.prefix }}software.html">Software</a></li>
{% endif %}
{% if page.nav-state == 'resources' %}
	<li class="current-page">Help!</li>
{% else %}
	<li><a href="{{ page.prefix }}resources.html">Help!</a></li>
{% endif %}
<li><a href="{{site.departmental_syllabus}}#tutoring">Tutoring</a></li>
</ul>
</div>
